# -----------------------------------------------------------------------------
# Airflow
# -----------------------------------------------------------------------------

AIRFLOW_IMAGE_NAME=apache/airflow:3.3.1
AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=.

# Generate:
# python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
FERNET_KEY=

# Generate:
# openssl rand -hex 32
AIRFLOW__API_AUTH__JWT_SECRET=
AIRFLOW__API_AUTH__JWT_ISSUER=airflow


# -----------------------------------------------------------------------------
# Initial Airflow administrator
# -----------------------------------------------------------------------------

_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=


# -----------------------------------------------------------------------------
# Airflow PostgreSQL database
# -----------------------------------------------------------------------------

AIRFLOW_DATABASE_NAME=airflow
AIRFLOW_DATABASE_USER=airflow
AIRFLOW_DATABASE_PASSWORD=

# -----------------------------------------------------------------------------
# Airflow RabbitMQ broker
# -----------------------------------------------------------------------------

RABBITMQ_DEFAULT_USER=airflow
RABBITMQ_DEFAULT_PASS=


# -----------------------------------------------------------------------------
# Tool metadata PostgreSQL database
# -----------------------------------------------------------------------------

TOOLMETA_HARVESTER_DATABASE__HOST=postgres
TOOLMETA_HARVESTER_DATABASE__PORT=5432
TOOLMETA_HARVESTER_DATABASE__NAME=tooldb
TOOLMETA_HARVESTER_DATABASE__USER=tool_harvester
TOOLMETA_HARVESTER_DATABASE__PASSWORD=


# -----------------------------------------------------------------------------
# Git DAG bundles
# -----------------------------------------------------------------------------

TOOLMETA_REPO=https://github.com/EOSC-Data-Commons/toolmeta-harvester.git
TOOLMETA_REF=dev

